.users {
  &__item {
    display: flex;
    margin-bottom: 3px;
    &-logo {
      width: 70px;
      margin-right: 20px;
    }
    &-info {
      display: flex;
      padding: 5px;
      width: 80%;
      border: 2px solid #373638;
    }
    &-about {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-location {
      margin-left: auto;
    }
  }
}