.profile-info__img img {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}

.user {
  display: flex;
}

.user__img {
  width: 100px;
  margin-right: 50px;
}

.user__img img {
  max-width: 100%;
}